.display_weather{
    &__section{
        display: flex;
        justify-content: space-around;
    }
    &__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: grey;
        border-radius: 25%;
        align-items: center;
    }
    &__chart{
        width: 1800px;
        display: flex;
        align-content: center;
    }
}


  